{% extends 'catalog/base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center">
            {% if user.is_authenticated %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Посмотреть список товаров</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <a class="btn btn-primary" href="{% url 'blogs:blog_list' %}" role="button">Посмотреть список блогов</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <form method="post" action="{% url 'users:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" role="button">Выход</button>
                        </form>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Вход</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <a class="btn btn-primary" href="{% url 'users:register' %}" role="button">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
